body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #0265FF;
    text-decoration: none;
}

#navigation {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

#navigation .navigation-links {
    margin: auto 30px;
    list-style-type: none;
    padding: 10px;
    font-size: 16px;
}

#content {
    margin: 30px auto;
    max-width: 1200px;
    min-width: 320px;
    padding: 0 20px;
}

#content hr {
    width: 150px;
    height: 5px;
    border: none;
    border-radius: 6px;
    background: #0265FF;
    margin: 25px auto;
}

#content-header {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 40px;
    width: 65%;
    margin: 0 auto;
}

#content-header .content-header-image {
    height: 200px;
}

.content-header-content {
    align-self: center;
}

.content-header-content .content-header-content-title {
    font-size: 36px;
    font-weight: 500;
}

.content-header-content .content-header-content-description {
    font-size: 16px;
    margin: 25px 0;
}

#category-select {
    width: 200px;
    text-transform: capitalize;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 3px;
}

#content-posts-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#content-posts-filter label {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    display: block;
}

.filter-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 13px;
}

.card {
    width: 265px;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px #CCC;
    padding: 25px;
    margin: 25px 0;
}

.card .card-image {
    margin: 0 auto 25px;
    height: 200px;
    display: block;
}

.card .card-title {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
}

.card .card-description {
    margin: 20px 0;
    font-size: 16px;
}

.card .card-link {
    font-size: 14px;
    font-weight: 500;
}

/* For a little added responsiveness */
@media (max-width: 685px) {
    #content-header {
        grid-auto-flow: row;
        text-align: center;
        justify-items: center;
    }

    #content-posts-cards {
        justify-content: center;
    }

    #content-posts-filter {
        text-align: center;
    }

    #category-select {
        margin: 0 auto;
    }
}